page-edit {
  .editrow {
    margin-top: 15px;
  }
  .bar1 {
    background-color: #ccc;
  }
  .bar2 {
    background-color: #ddd;
  }
  .bar3 {
    background-color: #eee;
  }
  .subheader {
    color: #666;
  }
  .parter {
    background-color: #999999;
  }
  .ion-col {
    border-right-style: solid;
    border-right-width: 1px;
    border-right-color: #000;
  }
  .editheader{
    font-weight: bold;
  }
}
