page-edit {
  .editrow {
    margin-top: 15px;
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 15px;
  }
  .editheader{
    font-weight: bold;
    padding-left: 0px;    
  }
  .even {
    background-color: #e1f4e7;
  }
  .odd {
    background-color: #ffe8dd;
  }
  .dayrow {
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
    font-size: 15px;
    padding-left: 0px;
  }
  .dayrow .item-inner {
    border-bottom: 0 !important;
  }

}
