page-edit {
  .editrow {
    margin-top: 15px;
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 15px;
  }
  .bar1 {
    background-color: #ccc;
  }
  .bar2 {
    background-color: #ddd;
  }
  .bar3 {
    background-color: #eee;
  }
  .subheader {
    color: #666;
  }
  .parter {
    background-color: #999999;
  }
  .ion-col {
    border-right-style: solid;
    border-right-width: 1px;
    border-right-color: #000;
  }
  .editheader{
    font-weight: bold;
  }
  .dayrow {
    height: 36px;
    border-top: solid 1px #ddd;
    font-weight: bold;
    font-size: 15px;
  }
  // .item {
  //   padding-left: 0px !important;
  // }
}
